@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.box-outer * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.box-outer {
	overflow: hidden;
	width: 25vw;
	height: 5vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	margin: 1vh;
}

.main_box {
	height: 5vh;
	position: relative;
	background: #ffe0e9;
	border: 3px solid #8a2846;
	color: black;
	align-self: center;
	padding-left: 1vw;
	font-size: 2.5vh;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.main_box.disabled {
	background: #808080;
	border: 3px dashed #e6739f;
	color: #ffffff;
	cursor: no-drop;
}
.main_box.array {
	border: 3px dashed blue;
}
.main_box.array.drop-zone {
	animation-name: glow-array;
}
.main_box.drop-zone {
	animation-name: glow;
}

.bar {
	position: absolute;
	width: 50px;
	height: 5px;
	background: #f54291;
	transition: all 1s linear;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.bar.delay {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.top {
	top: -5px;
	left: -5px;
}
.right {
	top: 18px;
	right: -28px;
	transform: rotate(90deg);
}
.bottom {
	bottom: -5px;
	left: -5px;
}
.left {
	top: 18px;
	left: -28px;
	transform: rotate(90deg);
}

@keyframes glow-array {
	0% {
		box-shadow: 0 0 5px blue;
		background-color: blue;
	}
	60% {
		border: 3px solid;
		background: #ffe0e9;
	}
	100% {
		box-shadow: 0 0 5px blue;
		background-color: blue;
	}
}

@keyframes glow {
	0% {
		box-shadow: 0 0 10px #8a2846;
		background-color: #8a2846;
		color: #ffffff;
	}
	50% {
		background: #ffe0e9;
		color: #8a2846;
		border: 3px solid;
	}
	100% {
		box-shadow: 0 0 10px #8a2846;
		background-color: #8a2846;
		color: #ffffff;
	}
}

/* property text  */
.property-text-container {
	display: flex;
	justify-content: start;
	height: 100%;
	align-items: center;
}

.property-spacer {
	margin: 0.5vw;
}

.text-description {
	font-size: 2vh;
	width: -webkit-fill-available;
	align-items: center;
	display: flex;
	height: 100%;
	overflow: hidden;
	padding: 5px;
	position: relative;
}

.text-description span {
	position: absolute;
	white-space: nowrap;
	transform: translateX(0);
	transition: 3s ease-in;
}

.text-description:hover span {
	transform: translateX(calc(0px - 100%));
}
