.transform-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: 19vw;
	height: 70vh;
	overflow: hidden;
}
.transform-icon-container {
	position: relative;
}

.transform-icon-text {
	color: #777777;
	position: absolute;
	top: calc(50% + 5vh);
	width: 36%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5vh;
	transition: 0.2s;
	text-align: center;
}

.transform-icon {
	filter: invert(51%) sepia(7%) saturate(8%) hue-rotate(13deg) brightness(90%) contrast(91%);
	width: 19vw;
	margin-top: 10vh;
	transition: 2s;
}

.transform-icon-text.pre-active {
	color: #790c5a;
}

.transform-icon.pre-active {
	filter: invert(16%) sepia(19%) saturate(3377%) hue-rotate(301deg) brightness(91%) contrast(89%);
	animation: spin 2s linear infinite;
}

.transform-icon-text.active {
	opacity: 0;
}

.transform-icon.active {
	width: 6vw;
	margin-top: 1.5vw;
	animation: spin 2s linear infinite;
	filter: invert(29%) sepia(49%) saturate(1728%) hue-rotate(307deg) brightness(93%) contrast(92%);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.transformation-select {
	margin-top: 5vh;
	height: 52vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.transformation-option {
	width: 17vw;
	height: 6vh;
	margin: 1vh auto;
	font-size: 14px;
	border: solid 2px #8a2846;
	border-radius: 5px;
	color: #8a2846;
	align-items: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.transformation-container:hover {
	-webkit-animation: pulsate-bck 0.5s ease-in-out both;
	animation: pulsate-bck 0.5s ease-in-out both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}
@keyframes pulsate-bck {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}
