.input-page-container {
	display: flex;
	padding: 4vh 4vw;
	color: #8a2846;
	flex-direction: column;
}
.options-container {
	display: flex;
	flex-direction: row;
}

.start-button {
	cursor: pointer;
	margin: 2vh 2vw;
	padding: 2vh 2vw;
	color: #602437;
	border: #602437 0.3vh solid;
	border-radius: 1vh;
}

.start-button:hover {
	background-color: #ff9ebb;
	color: #602437;
}

.input-options {
	color: #b9375e;
	margin: 4vh;
	padding: 2vh 2vw;
	border: 0.3vh solid #b9375e;
	border-radius: 0.8vh;
	transition: 0.2s;
	cursor: pointer;
	width: 12vw;
	font-weight: 500;
}

.input-options:hover {
	background-color: #ff9ebb;
	color: #602437;
}

.input-options.active {
	background-color: #ff7aa2;
	color: #602437;
}

.input-page-title {
	left: 50%;
	transform: translateX(-50%);
	font-size: 5vh;
	font-weight: bold;
	top: 10px;
	position: absolute;
	color: #cc0e74;
}

.input-settings-container {
	left: 100%;
	transition: linear 1s;
	position: absolute;
}

.input-settings-container.active {
	left: 14vw;

}

.selected-options {
	opacity: 0;
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 1vh;
	left: 14vw;
}

.selected-options-option {
	background-color: #ffe0e9;
	color: #602437;
	padding: 2vh 1vw;
	border: 0.3vh solid #b9375e;
	transition: 0.2s;
	cursor: pointer;
	width: fit-content;
	font-weight: 500;
}

/* option exits  */

.exit {
	-webkit-animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-31 2:13:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-blurred-left {
	0% {
		-webkit-transform: translateX(0) scaleY(1) scaleX(1);
		transform: translateX(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
		transform: translateX(-1000px) scaleX(2) scaleY(0.2);
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
}
@keyframes slide-out-blurred-left {
	0% {
		-webkit-transform: translateX(0) scaleY(1) scaleX(1);
		transform: translateX(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
		transform: translateX(-1000px) scaleX(2) scaleY(0.2);
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
}

/* selected option enter */
.enter {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	opacity: 0;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-12-31 2:17:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
